body {
  text-align: center;
  background-color: #FFFCF2;
}

p, span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin:0;
}


h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h1, h2 {
  font-weight: 700;
  color:#403D39;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  color:#FF5A39;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h4 {
  color:#FF5A39;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

span.light {
  color:#9D9790;
}

.divider {
  width: 100%;
  border-top: solid 1px #FF5A39;
  margin: 15px 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #7C7874;
}

a:hover {
  color: #403D39;
}

a.nav-link.active {
  color: #FF5A39;
}


.App {
  margin-top: 60px;
}

.App-logo {
  height: 35px;
  margin-bottom: 20px;
}

button.primary, button.secondary {
  box-shadow: none;
  border: none;
  color:#FFFCF2;
  padding: 8px 12px;
  border-radius: 20px;
  margin:15px 5px 10px;
  outline: none;
}

button.primary:hover, button.secondary:hover, .btn-primary:hover {
  filter: brightness(90%);
}

button.primary {
  background-color: #FF5A39;
}

button.secondary {
  background-color: #7C7874;
}

.

@media (prefers-reduced-motion: no-preference) {
/*   .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.modal-header, .modal-footer {
  border:none;
}

.inline {
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
